@use "./../utils/variables" as vars;

@mixin flex-row() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: vars.$gap-size;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: vars.$gap-size
}

@mixin flex-grid() {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.1rem;
}