.btn-volver {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-option {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-color {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #4a5df9;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.btn-sincolor {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: #25292e;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: rgb(54, 60, 68, 1);
    transition: transform 0.2s;
  }
}

.btn-cuenta {
  display: flex;
  justify-content: center;
  background-color: #25292e;
  border: none;
  padding: 0.5rem;
  border-radius: 8px;

  &:hover {
    background-color: rgb(54, 60, 68, 1);
    transition: transform 0.2s;
  }
}
