@use "./../utils/variables" as vars;
@use "./../utils/mixins" as mix;

.aside-pie {
  position: sticky;
  bottom: 0;
  z-index: 10;
  border-top: 1.5px solid rgb(54, 54, 54, 1);
  background-color: #000000;

  .div-pie {
    @include mix.flex-row();
    padding: 10px 20px;
  }
}

.barra-lateral {
  display: none;
}

@media only screen and (min-width: 768px) {
  .aside-pie {
    display: none;
  }

  .barra-lateral {
    // display: inline-block;
    justify-content: start;
    align-items: start;
    background-color: #000000;
    border-right: 1.5px solid rgb(54, 54, 54, 1);
  }

  .lateral {
      @include mix.flex-column();
    }
}
