@use "./../utils/mixins" as mix;

@media only screen and (min-width: 768px) {
  .envoltura {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
