@use "./../utils/variables" as vars;
@use "./../utils/mixins" as mix;

.cabecera-mobile {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1.5px solid rgb(54, 54, 54, 1);
  background-color: #000000;

  .h1 {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .titulo-mobile {
    color: vars.$secondary-color;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 100%;
    margin: 0;
    overflow: 0;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .cabecera-mobile {
    display: none;
  }
}